[Unit]
Description=Check USB OTG State and Start Getty Service
After=usb-otg-state.path

[Service]
Type=oneshot
ExecStart=bash -c 'if lsmod | grep -q g_serial; then systemctl start getty@ttyGS0.service; fi; exit 0'

